<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ user }}'s Images</title>
</head>
<body>

{% for image in images %}
	<form action="/delete" method="POST">
		<li>
			<a href="{{ image }}"><img src="{{ image }}" style="width: 100%; max-width: 400px;"></a>
			<form action="/delete" method="POST"/>
			<input type="hidden" name="image_chosen" value="{{ image }}">
            <input class="button" type="submit" value="Delete"><br/>
		</li>
        {% endfor %}

    <br />
    <h2><a href="../">Main Menu</a></h2>
  </body>
</html>
